<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Add Tender</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/addTender.css">
  <link rel="stylesheet" type="text/css" href="/navbar.css">
</head>

<body>
  <div th:insert="~{fragments :: headerFragment}"></div>
  <div class="container">
    <h1>Add Tender</h1>
    <form th:action="@{/tenders}" th:object="${tender}" method="post">
      <label for="title">Tender Name</label>
      <input type="text" id="title" th:field="*{title}" placeholder="Enter tender title" required />

      <label for="description">Description</label>
      <textarea id="description" th:field="*{description}" placeholder="Enter description" required></textarea>

      <label for="keywords">Keywords</label>
      <textarea id="keywords" th:field="*{keywords}" placeholder="Enter keywords, separated by commas" rows="4"></textarea>

      <input type="submit" value="Submit" />
    </form>
    <a href="/tenders" class="back-link">Back to Tenders</a>
  </div>
</body>

</html>