<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Tender Detail</title>
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
  <div th:insert="~{fragments :: headerFragment}">
  </div>
  <h1>Tender Detail</h1>
  <div class="container">
    <h2 th:text="${tender.title}">Tender Title</h2>
    <p th:text="${tender.description}">Tender Description</p>
    <p class="status" th:classappend="${tender.isActive ? 'active' : 'inactive'}"
      th:text="${tender.isActive ? 'Active' : 'Inactive'}">Tender Status</p>
    <form th:action="@{'/tenders/' + ${tender.id} + '/toggleActive'}" method="post">
      <button type="submit" class="toggle-btn" th:classappend="${tender.isActive ? 'deactivate-btn' : 'activate-btn'}"
        th:text="${tender.isActive ? 'Deactivate' : 'Activate'}">
      </button>
    </form>
  </div>
</body>

</html>