<header th:fragment="headerFragment">
  <nav>
    <ul>
      <li><a href="/tenders/active">Home</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
      width: 100%;
      background-color: #333;
      padding: 10px 0;
  }

  nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex; 
      justify-content: center; 
  }

  nav ul li {
      margin: 0 15px;
  }

  nav ul li a {
      color: white;
      text-decoration: none;
  }

  nav ul li a:hover {
      text-decoration: underline;
  }

</style>